@keyframes fadeInAnimation {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}
.snap-mandatory{
  border-radius: 0;
}
.main-hero-wrapper{
  height: 700px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.main-nav{
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
}
.carousel-container-one{
  background-image: url(../src/assets/images/bg-two.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  /* transition: transform 1s ease-in-out; */
}
.hero-btn{
  height: 40px;
  width: 20%;
  background-color: rgb(0, 255, 128);
  color: black;
  border-radius: 20px;
  font-weight: 700;
  border: none;
  transition: .2s;
}
.hero-btn:hover{
  background-color: rgb(54, 73, 54);
  color: white;
}
.hero-left-captions{
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-name: fadeInAnimation;
}
.hero-left-captions::after{
  transition: fadeInAnimation ease 1s;
}
.carousel-container-two{
  background-image: url(../src/assets/images/bg-three.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.carousel-container-three{
  background-image: url(../src/assets/images/bg-one.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.about-landing{
  position: relative;
  top: 750px;
}
.about-checkbox{
  height: 30px;
  width: 30px;
}
.services-landing{
  position: relative;
  top: 800px;
}
.services-span{
  margin: auto;
  border: 2px solid green;
  margin-top: 10px;
}
.services-img-upper{
  overflow: hidden;
}
.services-img{
  transition: .5s;
}
.services-img:hover{
  transform: scale(1.5);
}
.whyUs-landing{
  position: relative;
  top: 830px;
}
.why-us-img-main{
  height: 80px;
  width: 80px;
  margin: auto;
}
.why-us-img{
  height: 100%;
  width: 100%;
}